<section class="chatBox" id="chatBox">
    <h1 style="color: white;">Live Chat</h1>
    <section class="chatBoxInner" id="chatBoxInner">
        chats
    </section>
</section>
<script src="js/chats.js"></script>