<div class="col-md-3 card comments">
  <p>{{comment}}</p>
  <p class="post-user">from {{user_id}} on {{format_date date_created}}</p>
   <button class="removeComment"
    data-comment-id="{{id}}">delete comment</button>
</div>