<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href= "../css/style.css">

    <title>Study Buddies</title>
</head>
<body>
    <nav class="navbar">
        <a href="/" class="btn-flat">Home</a>
        <a href="/posts" class="btn-flat">Posts</a>
        <a href="/flashcards" class="btn-flat">Flash</a>
        <a href="/logout" class="btn-flat" id="logout">Logout</a>
    </nav>
    {{{body}}}
</body>
  
<script src = "/js/index.js"></script>
</html>