<div >
  <div >
    <div>
      <div>
        <div class="addflash-header">
          <h2>New Flashcard</h2>
        </div>
        <div>
          <form >
             <div class="submit-flash">
            <div >
              <div >
                <input class='new-flash-subject' id="input_text" type="text" data-length="25">
                <label for="input_text">Class Subject</label>
              </div>
            </div>
          <div class="submit-flash">
            <div >
              <div >
                <input class='new-flash-title' id="input_text" type="text" data-length="25">
                <label for="input_text">Flash Term</label>
              </div>
            </div>
            <div>
              <div "submit-flash">
                <textarea  class="new-flash-text" data-length="250"></textarea>
                <label >Type in definition and any key notes</label>
              </div>
            </div>
            <br>
            <button type="submit"  id="flash-btn"> Save</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/flash.js"></script>

