<div >
  <div >
    <div>
      <div>
        <div class="addpost-header">
          <h2>Make a Post</h2>
        </div>
        <div c>
          <form >
          <div class="submit-post">
            <div >
              <div >
                <input class='new-post-title' id="input_text" type="text" data-length="100">
                <label for="input_text">Enter Post Title</label>
              </div>
            </div>
            <div>
              <div >
                <textarea  class="new-post-text" data-length="250"></textarea>
                <label >Enter post text</label>
              </div>
            </div>
            <br>
            <button type="submit"  id="post-btn"> Post</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/posts.js"></script>

