<section class="content">
    <div class="containers">
        <form action="/flashcards">
            <button>Create New Flashcard</button>
          </form>

        <div class="card">
            {{#each flash as |flashcard|}}
            <button class="btn delete-flash" data-delete-flash-id= "{{id}}">Delete Flash</button>
            <p> {{subject}}</p>
            <div class="front">
                {{term}}
            </div>
            <div class="back">
                {{definition}}
            </div>
            {{/each}}
        </div>
</section>

<script src="/js/flash.js"></script>
<script src="/js/deletePost.js"></script>