<div class="centered-container">
    <div class="boxes">
        <div class="container">
            <a href="/posts"><div class="box">
                <img src="https://assets.codepen.io/9054081/brainstorm_button.png" alt="" />
            </div></a>
            <a href="/flash"><div class="box">
                <img src="https://assets.codepen.io/9054081/flash_button.png" alt="" />
            </div></a>
            <a href="https://github.com/ssnakeoil/the-study-buddy"><div class="box">
                <img src="https://assets.codepen.io/9054081/200x200placeholder.png" alt="" />
            </div></a>
        </div>
    </div>
</div>

<section>
    {{!-- <button onclick="window.location.href='/logout'">Logout</button> --}}
    {{#if isAdmin}}
    {{> admin-select-chats}}
    {{> admin-chat-box}}
    {{else}}
    {{> chat-box}}
    {{/if}}
</section>

