<nav>
    <h1 class="site-name">Study Buddies</h1>
    <div class="toggle">
		<div class="bar"></div>
		<div class="bar"></div>
		<div class="bar"></div>
		<input type="checkbox" id="navToggle" />
	</div>
</nav>

<section>
    {{!-- <button onclick="window.location.href='/logout'">Logout</button> --}}
    {{#if isAdmin}}
    {{> admin-select-chats}}
    {{> admin-chat-box}}
    {{else}}
    {{> chat-box}}
    {{/if}}
</section>

<aside>
	<a href="/home">Home</a>
	<a href="/posts">Posts</a>
	<a href="/flashcards">Flashcards</a>
	<a href="/logout">Logout</a>
</aside>
