<div class="centered-container">
    <div class="boxes">
        <div class="container">
            <div id="main-header">
                <h1>Who do you want to play with today?</h1>
            </div>
            <a href="/posts"><div class="box">
                <img src="https://assets.codepen.io/9054081/brainstorm_button.png" alt="" />
            </div></a>
            <a href="/flash"><div class="box">
                <img src="https://assets.codepen.io/9054081/flash_button.png" alt="" />
            </div></a>
            <a href="https://ssnakeoil.github.io/the-study-buddy/"><div class="box">
                <img src="https://assets.codepen.io/9054081/quizwiz_button.png"
                onmouseover="this.src='https://assets.codepen.io/9054081/quizwiz_button_away.png'"
                onmouseout="this.src='https://assets.codepen.io/9054081/quizwiz_button.png'"
                alt="" />
            </div></a>
        </div>
    </div>
</div>

<section>
    {{!-- <button onclick="window.location.href='/logout'">Logout</button> --}}
    {{#if isAdmin}}
    {{> admin-select-chats}}
    {{> admin-chat-box}}
    {{else}}
    {{> chat-box}}
    {{/if}}
</section>

