
<nav class="navbar">
    <div class="container">
        <div class="title">Home</div>
            {{!-- <li><a href="/" class="btn-flat">Home</a></li> --}}
            <a href="/posts" class="btn-flat">Posts</a>
            <a href="/flashcard" class="btn-flat">Flash</a>
            <a href="/logout" class="btn-flat" id="logout">Logout</a>
</nav>
<section>
    {{!-- <button onclick="window.location.href='/logout'">Logout</button> --}}
</section>
