<div class="centered-container">
  <div id="login-box">
    <div id="log-container" class="row">
      <h2>Login</h2><br/>
      <form class="form login-form">
        <div class="row">
          <div class="input-field ">
            <input id="email" placeholder="Email" type="email" class="validate" />
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input id="password" placeholder="Password" type="password" class="validate" />
          </div>
        </div>
        <button class="btn loginBtn" type="submit">Login</button>
      </form>
    </div>
    <p>No account? Sign up to get started</p>
      <form action="/signup">
        <button>Sign Up</button>
      </form>
    </div>
  </div>
<script src="/js/login.js"></script>