<div class="logsign-container">
  <div id="login-box">
    <div id="log-container" class="row">
      <h2>Login</h2><br/>
      <form class="form login-form">
        <div class="row">
          <div class="input-field ">
            <input id="email" type="email" class="validate" />
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input id="password" type="password" class="validate" />
            <label for="password">Password</label>
          </div>
        </div>
        <button class="btn loginBtn" type="submit">Login</button>
      </form>
    </div>

      <div class="card" id="homepage-join">
          <h3>No account? Sign up to get started</h3>
          {{! changed the href to signup when they click get started }}
          <a href="/signup">Get Started</a>
        </div>
      </div>
    </div>
<script src="/js/login.js"></script>