<div class="centered-container">
  <div id="login-box">
    <div id="sign-up-container">
      <h2>Sign-Up</h2>
      <form >
        <div id="signup" class="row">
          <div>
            <input id="first_name" placeholder="First Name" type="text" class="validate" />
          </div>
          <div>
            <input id="last_name" placeholder="Last Name" type="text" class="validate" />
          </div>
        </div>
        <div >
          <div>
            <input id="email" placeholder="Email" type="email" class="validate" />
          </div>
        </div>
        <div>
          <input id="password" placeholder="Password" type="password" class="validate" />
        </div>

        <button class="btn signupbtn" type="submit">Sign Up</button>
      </form>
    </div>
    <p>Already have an account?</p>
    <form action="/login">
      <button>Login</button>
    </form>
  </div>
</div>
<script src="/js/signup.js"></script>