<div id="sign-up-container">
  <h2>Sign-Up</h2>
  <form >
    <div id="signup" class="row">
      <div>
        <input id="first_name" type="text" class="validate" />
        <label for="first_name">First Name</label>
      </div>
      <div>
        <input id="last_name" type="text" class="validate" />
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div >
      <div>
        <input id="email" type="email" class="validate" />
        <label for="email">Email</label>
      </div>
    </div>
    <div>
      <input id="password" type="password" class="validate" />
      <label for="password">Password</label>
    </div>

    <button class="btn signupbtn" type="submit">Sign Up</button>
  </form>
</div>

<script src="/js/signup.js"></script>