@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
* {
	font-family: 'Josefin Sans', sans-serif;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background: linear-gradient(#ecf5ff, #FFBE94);
}


/* ##############NAV BAR STYLE################## */

body:has(#navToggle:checked) aside {
	right: 0;
}

body:has(#navToggle:checked) aside {
	right: 0;
}

body:has(#navToggle:checked) .bar {
	top: initial;
	bottom: initial;
}

body:has(#navToggle:checked) .bar:nth-of-type(1) {
	transform: rotate(45deg);
}

body:has(#navToggle:checked) .bar:nth-of-type(2) {
	opacity: 0;
}

body:has(#navToggle:checked) .bar:nth-of-type(3) {
	transform: rotate(-45deg);
}

nav {
	width: 100%;
	height: 60px;
	background-color: #000;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 4;
}
nav > .site-name {
	padding-left: 50px;
	color: #fff;
}

.toggle {
	width: 30px;
	height: 30px;
	margin-right: 70px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.bar {
	width: 100%;
	height: 2px;
	background-color: #fff;
	position: absolute;
	transition: all 0.3s;
}

.bar:nth-of-type(1) {
	top: 5px;
}

.bar:nth-of-type(2) {
	bottom: 5px;
}

#navToggle {
	-webkit-appearance: none;
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	z-index: 3;
	cursor: pointer;
}

aside {
	position: fixed;
	top: 0;
	right: -300px;
	width: 300px;
	height: 100vh;
	background: #fff;
	transition: right 0.3s;
	padding: 100px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

aside a {
    margin-right: 10px;
	font-size: 1.1rem;
	color: #283618;
	text-decoration: none;
	position: relative;
	height: 30px;
	margin: 10px 0;
	display: inline-block;
}

aside a::before {
	content: "";
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #FFBE94;
	transform: scaleX(0);
	transition: transform 0.3s;
}

aside a:hover::before {
	transform: scaleX(1);
}

/* ############## END NAV BAR STYLE ################## */

/* ################### POST STYLES */

.center-button {
	display: flex;
	align-content: center;
}

.posts-page-background {
	min-height: 100vh;
	background: linear-gradient(#00528E, #42A9D5);
}

.all-posts-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.post-container {
	width: 600px;
	margin-left: 50px;
	background: #00528E;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.comments-container {
	margin: 5px 50px;
	border-radius: 20px 0px 20px 20px;
	padding: 20px;
	width: 500px;
	background: #FFE582;
	transition: ease 0.5s;	
	opacity: 80%;
}

.comments-container:hover {
	opacity: 100%;
}

.post-user {
	color: white;
	margin-left: 10px;
	font-size: 15px;
	font-style: oblique;
}

.comments {
	background: white;
	opacity: 50%;
	transition: ease 0.5s;
	padding: 10px;
	width: 600;
	margin: 2px 0px;
}
.comments:hover {
	opacity: 100%;
}

.removeComment {
	display: flex;
	align-content: left;
}

.post-title {
	background: #42A9D5;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 20px 20px 0px 0px;
}

input,
textarea {
	width: 100%;
}

#make-post {
	border-radius: 0px;
}

#post-maker-container {
	padding: 10px;
	background-color: #00528E;
	border-radius: 0px 0px 20px 20px;
}

/* ################### END POST STYLES */

/* ############# LOGIN/SIGN UP STYLE ############## */

.centered-container {
	display: flex;
	justify-content: center;
  }
  
  #login-box {
	min-width: 500px;
	margin-top: 2%;
	border-radius: 20px;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	background: #FFBE94;
  }
  
  #log-container,
  #sign-up-container {
	padding: 30px;
	size: 600px;
	display: flex;
	align-items: center;
	flex-direction: column;
  }
  
  button {
	margin: 5px;
	border-radius: 5px;
	padding: 5px;
	border: none;
	color: #fff;
	background: #000;
	cursor: pointer;
  }

/* ############# END LOGIN/SIGN UP STYLE ############## */

/* ################# HOME BUTTONS */

.boxes {
	display: flex;
	align-content: center;
}

.boxes,
.container {
	display: flex;
	justify-content: space-between;
  }
  
.container {	
	border-radius: 20px;
	margin-top: 30px;
	padding: 50px;
	background-color: white;
}

/* .container:hover {
	animation-name: bg-anim;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

@keyframes bg-anim {
	0% {left:0px; top:0px;}
	50% {left:0px; top:5px;}
	100% {left:0px; top:0px;}
} */

.box {
	flex: 1;
	border-radius: 10px;
	margin: 20px 10px;
	display: flex;
	justify-content: center;
	padding: 15px 20px;
}
  
.box img {
	height: 300px;
}

.box i {
	margin-right: 10px;
}
  
@media (max-width: 1120px) {
	.container {
	  flex-direction: column;
	  padding-top: 20px;
	  text-align: center;
	}
  
  .boxes .container {
	display: block;
	text-align: center;
  }
}

/* ################# END HOME BUTTONS */



/* ############## CHAT BOX STYLE ##################### */

.chatBox{
    position: fixed;
	left:50px;
	bottom:0;
	background: #FF8476;
	box-shadow: 0px -3px 2px -2px #FF8476;
	width:100px;
	height:30px;
	text-align:center;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	cursor: pointer;
}
.chatBox > .chatBoxInner{
    display: none;
}
.chatBoxOpen{
    position: fixed;
	left:50px;
	bottom:0;
	background: #FF8476;
	
	box-shadow: 0px -3px 2px -2px #FF8476;
	width:350px;
	height:400px;
	text-align:center;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.chatBoxOpen > .chatBoxInner{
    position: relative;
    display: block;
    padding: 5px;
    background-color: #2E2D2E;
    height: 100%;
    margin: 0 6px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    overflow: hidden;
   
}
#chats{
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    height: 85%;
}
#chats::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
#closeChat{
    display: none;
    position: absolute;
    top: -40px;
    right: 0px;
    width: 30px;
    height: 31px;
    line-height: 30px;
    background: red;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 5px 0;
    border-radius: 50%;
}

#sender{
    display: flex;
	flex-direction: row;
	border-radius: 5px;
	padding: 5px 5px;
	background: #1488CC;
	background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
	background: linear-gradient(to right, #2B32B2, #1488CC);
	color: white;
	margin:5px
}

.flex-100{
    flex: 100%;
}
.senderDpWrapper{
    display:flex;
	flex-direction:column;
	align-items:center;
}
.senderDp{
    border-radius: 50%;
	width: 50px;
	height: 50px;
	background: #FFBE94;
	/* background: -webkit-linear-gradient(to right, #26a0da, #314755);
	background: linear-gradient(to right, #26a0da, #314755); */
}
.m0f11{
    margin: 0;font-size: 11px;
}

#receiver{
    display: flex;
	flex-direction: row;
	border-radius: 5px;
	padding: 5px 5px;
	background: #1488CC;
	background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
	background: linear-gradient(to right, #2B32B2, #1488CC);
	color: white;margin:5px
}

.receiverDpWrapper{
    display:flex;
	flex-direction:column;
	align-items:center;
}

.receiverDp{
    border-radius: 50%;
	width: 50px;
	height: 50px;
	background: #314755;
	background: -webkit-linear-gradient(to right, #26a0da, #314755);
	background: linear-gradient(to right, #26a0da, #314755);
}

.msgFormWrapper{
    position: absolute;
	bottom: 0;
	width: 100%;
	margin: 2px;
	left: 0;
	display: flex;
}

.msgFormWrapperInner{
    display: flex;
	width:100%
}

.msgTxtArea{
    width: 100%;
	overflow:hidden
}

#text{
    resize: none;
	width:100%
}

.w20{
    width: 20%;
}
#sendMessage{
    height: 100%;
	width: 100%;
	cursor: pointer;
	color:white;
	border:none;
	background: #FF8476;
}

#chatsList > li{
    width: 100px;
    text-align: center;
    background: blue;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    cursor: pointer;
    color: black;
    margin: 12px 0;
    box-shadow: 0 2px 1px 2px gray;
    user-select: none;
}
#chatsList > li > span{
    color: black;
}

/* ############# END CHAT BOX STYLE ################# */