* {
	font-family: sans-serif;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

body:has(#navToggle:checked) aside {
	right: 0;
}

body:has(#navToggle:checked) aside {
	right: 0;
}

body:has(#navToggle:checked) .bar {
	top: initial;
	bottom: initial;
}

body:has(#navToggle:checked) .bar:nth-of-type(1) {
	transform: rotate(45deg);
}

body:has(#navToggle:checked) .bar:nth-of-type(2) {
	opacity: 0;
}

body:has(#navToggle:checked) .bar:nth-of-type(3) {
	transform: rotate(-45deg);
}

nav {
	width: 100%;
	height: 60px;
	background-color: #cde3b3;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 4;
}
nav > .site-name {
	color: #283618;
}

.toggle {
	width: 30px;
	height: 30px;
	margin-right: 70px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.bar {
	width: 100%;
	height: 2px;
	background-color: #000;
	position: absolute;
	transition: all 0.3s;
}

.bar:nth-of-type(1) {
	top: 5px;
}

.bar:nth-of-type(2) {
	bottom: 5px;
}

#navToggle {
	-webkit-appearance: none;
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	z-index: 3;
	cursor: pointer;
}

aside {
	position: fixed;
	top: 0;
	right: -300px;
	width: 300px;
	height: 100vh;
	background-color: #eefae0;
	transition: right 0.3s;
	padding: 100px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

aside a {
    margin-right: 10px;
	font-size: 1.1rem;
	color: #283618;
	text-decoration: none;
	position: relative;
	height: 30px;
	margin: 10px 0;
	display: inline-block;
}

aside a::before {
	content: "";
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #283618;
	transform: scaleX(0);
	transition: transform 0.3s;
}

aside a:hover::before {
	transform: scaleX(1);
}

.chatBox{
    position: fixed; right:50px;bottom:0;background:#004dc6;width:300px;height:30px;text-align:center;border-top-left-radius: 15px;border-top-right-radius: 15px;box-shadow: 0 0px 5px 3px #000;display: flex;justify-content: center;flex-direction: column;
}
.chatBox > .chatBoxInner{
    display: none;
}
.chatBoxOpen{
    position: fixed; right:50px;bottom:0;background:#004dc6;width:350px;height:400px;text-align:center;border-top-left-radius: 15px;border-top-right-radius: 15px;box-shadow: 0 0px 5px 3px #000;display: flex;justify-content: center;flex-direction: column;
}
.chatBoxOpen > .chatBoxInner{
    position: relative;
    display: block;
    padding: 5px;
    background-color: white;
    height: 100%;
    margin: 0 6px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: 0 0 2px 2px #551a8b;
    overflow: hidden;
   
}
#chats{
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    height: 85%;
}
#chats::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
#closeChat{
    display: none;
    position: absolute;
    top: -5px;
    right: 15px;
    width: 30px;
    height: 31px;
    line-height: 30px;
    background: #4b5e6d;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 5px 0;
    border-radius: 50%;
}

#sender{
    display: flex;flex-direction: row;border-radius: 5px;padding: 5px 5px;background: #1488CC;background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);background: linear-gradient(to right, #2B32B2, #1488CC);color: white;margin:5px
}

.flex-100{
    flex: 100%;
}
.senderDpWrapper{
    display:flex;flex-direction:column;align-items:center;
}
.senderDp{
    border-radius: 50%;width: 50px;height: 50px;background: #314755;background: -webkit-linear-gradient(to right, #26a0da, #314755);background: linear-gradient(to right, #26a0da, #314755);
}
.m0f11{
    margin: 0;font-size: 11px;
}

#receiver{
    display: flex;flex-direction: row;border-radius: 5px;padding: 5px 5px;background: #1488CC;background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);background: linear-gradient(to right, #2B32B2, #1488CC);color: white;margin:5px
}

.receiverDpWrapper{
    display:flex;flex-direction:column;align-items:center;
}

.receiverDp{
    border-radius: 50%;width: 50px;height: 50px;background: #314755;background: -webkit-linear-gradient(to right, #26a0da, #314755);background: linear-gradient(to right, #26a0da, #314755);
}

.msgFormWrapper{
    position: absolute;bottom: 0;width: 100%;background: gray;left: 0;display: flex;box-shadow: 0px -3px 2px -2px gray;
}

.msgFormWrapperInner{
    display: flex;width:100%
}

.msgTxtArea{
    width: 100%;overflow:hidden
}

#text{
    resize: none;width:100%
}

.w20{
    width: 20%;
}
#sendMessage{
    height: 100%;width: 100%;cursor: pointer;color:white;border:none;background:#536976;background: -webkit-linear-gradient(to right, #292E49, #536976);background: linear-gradient(to right, #292E49, #536976);
}

#chatsList > li{
    width: 100px;
    text-align: center;
    background: blue;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    cursor: pointer;
    color: black;
    margin: 12px 0;
    box-shadow: 0 2px 1px 2px gray;
    user-select: none;
}
#chatsList > li > span{
    color: white;
}
